header{
  text-align: center;
  font-size: 50px;
}

.display{
  display: flex;
  gap: 15px;
}

.operations{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-case{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
}

.book-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 0 0 5px 0 black;
}

.title, .author, .pages, .read, .submit{
  font-size: 15px !important;
  height: 50px;
  border-radius: 15px;
  padding: 0 10px;
  background: transparent;
  border: solid 1px black;
}

.title:focus, .author:focus, .pages:focus, .read:focus, .submit:focus{
  outline: #fff;
}

.input-form{
  transition: all 300ms ease-in;
  background: inherit;
  font-size: 25x;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 20px;
  border-radius: 15px;
  border: solid black 1px;
  box-shadow: 0px 0px 5px black;
  flex-wrap: wrap;
  flex-direction: column;
}

.input-form.hidden{
  display: none;
}
.read-choice{
  display: flex;
}

.close-form{
  align-self: flex-end;
  background-color: white;
  border-radius: 50%;
  border: none;
  margin: 0;
  padding: 0;
  height: 25px;
}

.cross-icon{
  vertical-align: center;
  height: auto;
  width: 25px;
}

.pop-up{
  transition: all 100ms ease-in;
  display: flex;
  position: fixed;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  z-index: 9;
}

.pop-up.hidden{
  opacity: 0;
}


body{
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  overflow-y: scroll;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: #8E2DE2;  
  background: -webkit-linear-gradient(#4A00E0, #8E2DE2);  
  background: linear-gradient(#4A00E0, #8E2DE2); 
}

body, html{
  width: 100%;
  height: 100%;
  margin: 0;
}
